@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12 text-white">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli Pizza</h1>
            </div>
            <div class="post-single-image-container">
                <img src="@Model.image">
            </div>
            <p>
                <strong>Nome Pizza</strong>
                @Model.Name
            </p>
            <p>
                <strong>Descrizione:</strong>
                @Model.Description
            </p>
            <p>
                <strong>Prezzo:</strong>
                @Model.prezzo €
            </p>
            <p>
                <strong>Ingredienti</strong>
                @foreach(string ingrediente in @Model.Ingredienti)
                {
                    <span>@ingrediente</span>
                }
            </p>

        </div>
    </div>
</div>